[core]
  autocrlf = input
  eol = lf
  excludesfile = ~/.gitignore_global
  editor = nvim
  pager = delta
[init]
  defaultBranch = main
[pull]
  rebase = false
[fetch]
  prune = true
[rebase]
  autoStash = true
[push]
  autoSetupRemote = true
[merge]
  conflictStyle = zdiff3
[diff]
  colorMoved = default
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
