# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Copilot temp files
copilot/session-state/
copilot/command-history-state.json
copilot/config.json
copilot/logs/
copilot/pkg/

# SSH: track only config
ssh/*
!ssh/config

# raycast
raycast/ai/**
raycast/extensions/**
